.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.show-cropper-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.show-cropper-btn {
    bottom: 10px;
    right: 10px;
}

.file-upload-img {
    width: 33.33%;
    // img,
    div {
        padding: calc(100% / 3) calc((100% - 256px) / 3) 0 0;
    }
    img {
        width: calc(100% / 3);
    }
}

.ql-container.ql-snow,
.ql-editor.ql-blank,
.ql-editor {
    min-height: 300px !important;
}

.quill-upload-img {
    opacity: 0;
    z-index: -1;
}
